

.fundo
{
  background-image: url(tommy-lisbin-xr-y6Ruw7K8-unsplash-3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
}

h1
{
  padding-top: 1.4em;
  text-align: center;
  color: white;
  font-family: sans-serif;

}
p{
  color: white;
}


#form 
{
  width: 400px;
  margin: 0 auto;
  color: white;
  font-size: 16px;
  text-align: left;
}
#label
{
  color: white;

}

h4 
{
  text-align: center;
  color: white;
}

.btn btn-primary
{
  margin: 0 auto;
}

h2
{
  text-align: center;
  color:  white;
  
}
#botao
{
  align-content: center;
}
